*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

ul.details{
    display: block;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.274);
    width: 330px;
    list-style: none;
    text-transform: capitalize;
    border: 5px solid rgb(35, 4, 172);
    border-radius: 5%;
    margin: 20px 20px auto;
    padding: 10px 20px;
    font-size: 22px;
    color: #fff;
}

.details-title{
    font-weight: bold;
    color: #fff;
}


li.details-img{
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}
.btn{
    display: inline-block;
    width: 100px;
    background-color: rgb(13, 3, 160);
    border-radius: 5px;
    margin: 15px 0;
    text-transform: none;
    border: 1px #fff solid;
}
.btn-link{
    text-decoration: none;
    color: #fff;
}

img{
    height: 180px;
}