body{
    padding: 0;
    margin: 0;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    animation: spaceJam 120s linear infinite;
  }
   
  .background {
    background: url('https://denis-creative.com/wp-content/uploads/2019/03/background.png');
  }
   
  .midground {
    background: url('https://denis-creative.com/wp-content/uploads/2019/03/midground.png');
    animation-duration: 60s;
  }
   
  .foreground {
    background: url('https://denis-creative.com/wp-content/uploads/2019/03/foreground.png');
    animation-duration: 30s;
  }
   
  @keyframes spaceJam {
    100% {
      background-position: -2500px -500px;
    }
  }

h1{
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-size: 80px;
    margin: 30px 0;
}

h1.blue {
    color: #ffffff;color: #ffffff;
    text-shadow: 0 0 5px #000000, 0 0 10px #000000, 0 0 20px #ffffff, 0 0 40px #0000ff, 0 0 80px #0000ff, 0 0 90px #0000ff, 0 0 100px #0000ff, 0 0 150px #0000ff;
   }