h1{
    text-align: center;
}

table{
    margin: 0 auto;
}

thead{
    background-color: rgb(3, 3, 3);
    font-size: 24px;
    color: white;
}

th{
    padding: 2%;
}

td{
    padding: 2%;
}

.price{
    color: blue;
}

tbody{
    text-align: center;
    font-size: 18px;
    background-color: rgb(241, 241, 241);
    border: 8px rgb(83, 83, 83);
}
